*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#root{
    height: 100vh;
}
.layout{
  display: grid;  
  grid-template-areas: 
  "header"
  "main"
  "footer";
height: 100%;
grid-template-rows: 50px 1fr 50px;
}

main{
    grid-area: main;
}
main .wrapper{
    display: flex;
    justify-content: space-between;
    padding: 30PX;
}

main .wrapper .products-wrapper{
    display: flex;
    justify-content: space-between;
    border: 3px solid rgb(202, 219, 50);
    width: 65%;

}
main .wrapper .products-wrapper .product-item{
    width:23%;
}
main .wrapper .products-wrapper .product-item img{
    width: 100% ;
    height: 150px;
    padding: 2px;
    border: 1px solid rgb(244, 243, 247)
}
main .wrapper .products-wrapper .product-desc{
   display: flex; 
   justify-content: space-between;
   align-items: center;
   margin: 20px 0;

}

main .wrapper .products-wrapper button{
    display: block;
    width: 100%;
    border: 0;
    background-color: rgb(82, 82, 214);
    color: aliceblue;
    padding: 7px;
    border-radius: 6px;
}
    
.product-info img{
    display: block;
    width: 40%;
    margin: 20px auto;
}
.product-info p{
    color: blue;
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}
.icon-close{
    position:absolute;
    right:10px;
    top:10px;
    cursor: pointer;
    font-size: 20px;
}
main .wrapper .wrapper-filter{
    border: 1px solid rgb(199, 244, 216);    
    background-color: aliceblue;
    width: 30%;
    display: flex;
    flex-direction: column;
    }
    div {
        padding: 5px 20px;
        margin-bottom: 13px;
    }
    select{
        display: block;
        height: 40px;
        width: 100%;
        border: 1px solid rgb(181, 172, 172);
        border-radius: 5px;
    }

    .cart-wrapper{
        width: 70%;
        margin: 20px auto;
    }
    .cart-title{
        padding-bottom: 5px;
        border-bottom: 1px solid #333;
       }
       .cart-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        box-shadow: 2px 2px 3px #c0c0c0;
        margin: 6px 0;
       }

       .cart-item img{
        width: 90px;
        margin-right: 10px;
       }
       .cart-item button{
    display:inline-block; /*خليها البوكس على كد النص المكتوب الي بداخلة */
    border: 0;
    background-color: rgb(82, 82, 214);
    color: aliceblue;
    padding: 7px;
    border-radius: 6px;
       }

       .cart-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
       }
